name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: make
      run: make all
    - name: move file
      run: mv farm /utility
    - name: run test
      run: ./utility/test.sh
